/* 종횡비 : aspect-raio */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.aspect-ratio {
  width: 50%;
  margin: 0 auto;
}

.bg-img {
  background: url(images/balloon.jpg) no-repeat 20% 30% / cover;
  aspect-ratio: 1/1;
}
