/* picture 요소 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.figure {
  padding: 2rem;
  margin: 2rem;
  /* border: 1px solid #2f÷2f2f; */
  flex-shrink: 0;
}

.figure picture {
  width: 200px;
  height: 200px;
  /* border: 10px solid red; */
}

.picture img {
  /* max-width: 100%;
  height: auto; */
  width: 100%;
  height: 100%;
}
