/* 콘텐츠 이미지 로고 */
.logo-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.5rem;
  padding: 2rem;
}

.logo-link {
  --size: 8.75em;

  display: block;
  width: var(--size);
  aspect-ratio: 10/1;
  background-color: pink;
}

@media (min-width: 768px) {
  .logo-link {
    width: 10em;
  }
}

/* 배경 이미지 로고 */
.logo-img {
  width: 100%;
  height: 100%;
  background-image: url('/images/logo.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

/* 고해상도 배경이미지 */
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .logo-img {
    background-image: url('/images/logo@2x.png');
  }
}

/* 푸터에 사용한 모노톤 로고 */
/* 푸터에서 해당 버튼을 가져다 사용할 때 width 값을 지정 */
/* .mono-logo {
  width: 10em;
}

@media (min-width: 768px) {
  .mono-logo {
    width: 11.25em;
  }
} */

.school {
  font-size: 5vw;
  padding: 1rem;
}
