/* 컴포넌트 컨테이너 */
.component-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  padding: 2rem;
}

/* 신 메뉴 컨테이너 */
.new-menu {
  background: var(--scondary-light-blue-1);
  padding: 40px 0 20px;
}

.new-menu-text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}

/* 영문 단락 스타일 */
.new-menu-text p[lang='en'] {
  color: rgba(20, 24, 44, 0.9);
  font-size: 25px;
  font-weight: 100;
  line-height: 1.1; /* 27.5px */
  letter-spacing: -1px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.new-menu-text p[lang='en'] em {
  font-weight: 900;
  color: #24388d;
}

@media (min-width: 768px) {
  .new-menu {
    padding: 50px 0;
  }

  .new-menu-text {
    row-gap: 30px;
  }

  .new-menu-text p[lang='en'] {
    flex-direction: row;
    column-gap: 0.5em;
  }
}

/* 구분선 */
.new-menu .divider {
  width: 40px;
  height: 1px;
  background: #000;
}

/* 한글 단락 스타일 */
.new-menu p:nth-of-type(2) {
  color: rgba(20, 24, 44, 0.9);
  font-size: 14px;
  line-height: 1.5; /* 21px */
  letter-spacing: -0.56px;
}

/* 메뉴 보기 링크 */
.go-menu {
  padding: 8px 24px;
  color: #24388d;
  border: 1px solid currentColor;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1; /* 15.4px */
  /* position: relative;
  z-index: 10; */
}

/* 이디야 음료 이미지 */
/* 음료 정보 - 텍스트 스타일 */
[class^='beverage-name--ko'] {
  font-size: 16px;
}
[class^='beverage-name--en'] {
  font-size: 12px;
  margin-top: 5px;
}
.beverage-name--ko-primary {
  color: #2c68ae;
  font-weight: 700;
}
.beverage-name--ko-secondary {
  color: #72bde3;
}
.beverage-name--en-accent {
  color: #a7d1e7;
}

.new-menu-list {
  /* border: 1px solid blue; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.beverage {
  /* background-color: yellow; */
  position: relative;
}

.beverage-name {
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  position: absolute;
}

.beverage-name.choco {
  left: 0;
  bottom: 0;
}

.beverage-name.rice {
  top: 125px;
  right: 20px;
}

.beverage-name.cheese {
  left: 20px;
  bottom: 50px;
}

@media (max-width: 768px) {
  .beverage-cheese {
    display: none;
  }
}

@media (min-width: 768px) {
  .new-menu-list {
    /* background: pink; */
    width: clamp(740px, 93%, 900px);
    margin: 0 auto;
    justify-content: space-between;
  }
  .beverage-cheese {
    transform: translate(30%, -20%);
  }
}
