.inform-inner{
  background: var(--primary-blue-1);
}

/* 홍보영상 */
.youtube {
  
  & iframe {
    aspect-ratio: 16/9;
  }
}

/* 공지사항 */
.notice {
  background: linear-gradient(137deg, #263D83, #102457);
  display: grid;
  grid-template-columns: 125px 1fr;
  grid-template-areas: "notice-headline notice-article"
  "notice-button notice-article";
}

.notice-headline {
  grid-area: notice-headline;
  background: var(--primary-blue-1);
  color: #fff;
  padding: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.3px;
}

.notice-article {
  padding: 15px;
  grid-area: notice-article;
  background: #fff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.24px;
}

.notice-article-headline{
  color: #24388D;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.3px;
}

.notice-article time{
  color:  #878787;
  font-size: 11px;
  line-height: 1;
  letter-spacing: -0.22px;
}

.notice-article p{
  margin-top: 15px;
}

.notice-button {
  padding: 15px 15px 10px 15px;
  grid-area: notice-button;
  color: #fff;
  justify-self: end;
  align-self: end;
}

/* 뉴스 */
.news {
  background: var(--primary-blue-1);
  color: #fff;
  text-transform: uppercase;
  padding: 1.25em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    'news-headline news-more'
    'news-list news-list';
  row-gap: 15px;
}

.news-headline {
  grid-area: news-headline;
  font-size: 15px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.3px;
}

.news-list {
  grid-area: news-list;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: -0.24px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 5px;

  & li {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 10px;
  }

  & a {
    width: calc(100% - 5.65em);
    /* min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
  }

  & time {
    width: 4.85em;
  }
}

.news-more {
  grid-area: news-more;
  justify-self: end;
}

@media (min-width: 768px) {
  .inform {
    background: var(--grayscale-snow);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 5.15em;
    padding-bottom: 5.15em;
  }

  .inform-inner {
    display: grid;
    grid-template-columns: 365px 375px;
    grid-template-areas:
      'youtube notice'
      'youtube news';
  }

  .youtube {
    align-self: center;
    grid-area: youtube;
  }

  .notice {
    grid-area: notice;
  }

  .news {
    grid-area: news;
  }
}
