.membership {
  background: url('/images/coffee-mobile.jpg') no-repeat 50% 0;
}

@media (min-width: 768px) {
  .membership {
    background: url('/images/coffee-desktop.jpg') no-repeat 50% 0;
  }
}

.member {
  color: #fefefe;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 70px 0 50px;
}

.member-headline {
  font-size: 36px;
  letter-spacing: -0.72px;
  font-weight: 100;
  margin-bottom: 24px;
}

.member-description {
  font-size: 12px;
  font-weight: 300;
}

.member-description[lang='en'] {
  font-size: 18px;
}

.member-form {
  margin-top: 110px;
}

@media (min-width: 768px) {
  .member-form {
    width: 540px;
  }
}

.form-input-wrapper {
  position: relative;
  margin-top: 50px;
}

.form-input-label {
  position: absolute;
  top: 24px;
  left: 0;
  transition: all 300ms ease-in-out;
}

.form-input {
  background: transparent;
  width: 100%;
  height: 48px;
  color: inherit;
  border: 0;
  border-bottom: 1px solid currentColor;
}

.is--focus .form-input,
.is--valid .form-input,
.is--invalid .form-input {
  border-width: 2px;
}

.form-message {
  display: none;
  font-size: 12px;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.is--focus .form-input-label {
  font-size: 12px;
  transform: translate(0, -20px);
}
.is--invalid {
  background: url('/images/icon-warning.svg') no-repeat 100% 80%;
  background-size: 16px 16px;
}
.is--valid {
  background: url('/images/icon-checked.svg') no-repeat 100% 80%;
  background-size: 16px 16px;
}

.is--invalid .form-message {
  display: block;
}
