.membership {
  background: url('/images/coffee-mobile.jpg') no-repeat 50% 0;
}

@media (min-width: 768px) {
  .membership {
    background: url('/images/coffee-desktop.jpg') no-repeat 50% 0;
  }
}

.member {
  color: #fefefe;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 70px 0 50px;
}

.member-headline {
  font-size: 36px;
  letter-spacing: -0.72px;
  font-weight: 100;
  margin-bottom: 24px;
}

.member-description {
  font-size: 12px;
  font-weight: 300;
}

.member-description[lang='en'] {
  font-size: 18px;
}

.member-form {
  margin-top: 110px;
}

@media (min-width: 768px) {
  .member-form {
    width: 540px;
    border: 1px solid red;
  }
}

.form-input-wrapper {
  position: relative;
  border: 1px solid blue;
  margin-top: 50px;
}

.form-input-label {
  position: absolute;
  top: 24px;
  left: 0;
}

.form-input {
  background: transparent;
  width: 100%;
  height: 48px;
}

.form-message {
  display: none;
}

.is--focus .form-input-label {
  font-size: 12px;
}
