/* 스플래시 영역 - 배경 */
.splash-area {
  width: 100vw;
  height: 100vh;
  background: var(--grayscale-white);
  color: var(--primary-blue-1);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeEffect 3000ms ease-in-out both;

  /* figure 요소 */
  & .splash-logo {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 32%;
  }

  /* img 요소 */
  & .splash-image {
    width: clamp(5rem, 100%, 9.375rem);
  }

  /* figcaption 요소 */
  & .splash-caption {
    white-space: nowrap;
    font-weight: 900;
    font-size: clamp(1.5rem, 10vw, 3rem);
  }
}

@media (prefers-color-scheme: dark) {
  .splash-area {
    background: var(--primary-blue-1);
    color: var(--grayscale-white);
  }
}
