/* 미디어 쿼리 */
body {
  background-color: pink;
}

@media (min-width: 600px) {
  body {
    background-color: salmon;
  }
}

@media (min-width: 1024px) {
  body {
    background-color: yellowgreen;
  }
}
