/* 컴포넌트 컨테이너 */
.component-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  padding: 2rem;
}

.navigation {
  background-color: yellow;
}

/* 모바일 디바이스 */
@media (max-width: 768px) {
  .navigation {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .navigation .button-close {
    grid-area: 1/1/2/2;
    justify-self: end;
  }
}

/* 데스크탑 디바이스 */
@media (min-width: 768px) {
  .navigation ul {
    display: flex;
    flex-flow: row nowrap;
    column-gap: var(--spacing-sm);
    color: var(--primary-blue-1);
  }

  .navigation .button-close {
    display: none;
  }
}
